variables:
  GIT_SUBMODULE_STRATEGY: recursive

default:
  interruptible: true
  tags:
    - docker
    - ubuntu
    - build

# Reusable snippet to ensure build dir is cleaned up.
.change_build_dir: &change_build_dir
  - rm -Rf build
  - mkdir build
  - cd build

# Reusable snipped to configure an Ubuntu builder using current Ubuntu, with support
# for ccache and cache reload between jobs. Will run on all commits.
# Edit the cmake line as needed to enable your app's standard configuration for testing.
.ubuntu_curr_builder: &ubuntu_curr_builder
  stage: build
  # Kalibr requires Ubuntu 22.04 or older.
  image: registry.gitlab.com/synsense-sys-int/inivation/infra/docker-files/ubuntu:22.04
  # Variables is not getting merged, so we use before_script to set CCACHE vars.
  before_script:
    - export CCACHE_DIR="${CI_PROJECT_DIR}/.ccache"
    - export CCACHE_BASEDIR="${CI_PROJECT_DIR}"
    - export CCACHE_COMPILERCHECK="content"
    - apt-add-repository 'ppa:inivation-ppa/inivation' && apt-get -y update
    - apt-get -y install dv-runtime-dev
  script:
    - *change_build_dir
    - cmake -DCMAKE_INSTALL_PREFIX=/usr -DIMU_CAM_CALIB_ENABLE_TESTS=ON -DIMU_CAM_CALIB_ENABLE_SAMPLES=ON -DENABLE_IMU=ON -DENABLE_KALIBR_FILTERING=ON ..
    - make -j4 -s
    - CTEST_OUTPUT_ON_FAILURE=1 ctest --verbose
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - if: $CI_COMMIT_BRANCH
  cache:
    key: "${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}"
    paths:
      - .ccache
    policy: pull-push

# Build and test on GCC 13.
build_and_test_on_gcc13:
  variables:
    CC: gcc-13
    CXX: g++-13
    CTEST_OUTPUT_ON_FAILURE: 1
  <<: *ubuntu_curr_builder

# Build and test on clang 18.
build_and_test_on_clang18:
  variables:
    CC: clang-18
    CXX: clang++-18
    CTEST_OUTPUT_ON_FAILURE: 1
  <<: *ubuntu_curr_builder

# Run pre-commit on all files to make sure it was run on client.
# This will do all formatting checks in a consistent way.
pre-commit_check:
  stage: build
  image: registry.gitlab.com/synsense-sys-int/inivation/infra/docker-files/ubuntu:rolling
  before_script:
    - pre-commit install
  script:
    - pre-commit run -a
  rules:
    - if: $CI_MERGE_REQUEST_ID
    - if: $CI_COMMIT_BRANCH
